.header {
    .topbar {
        height: 32px;
        line-height: 32px;
        background-color: $bg-grey;
        color: $color-grey;
        font-size: 0.875em;
        letter-spacing: .02em;

        &__dropdown {
            &--item {
                padding: 0 10px;
                cursor: pointer;
                transition: $transition;

                &:hover,
                &.active {
                    background-color: $bg-hover;
                }
            }

            &--menu {
                width: 12em;
                min-width: 12em;
                box-shadow: 0 1px 7px rgb(0 0 0 / 25%);
                cursor: pointer;
                padding: 6px 0;
                z-index: 10;
                opacity: 0;
                visibility: hidden;
                transform-origin: top;
                transform: rotateX(60deg);
                transition: $transition;

                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: rotateX(0deg);
                }

                &__item {
                    white-space: nowrap;
                    transition: $transition;

                    &:hover {
                        background-color: $bg-grey2;
                    }
                }

                &__link {
                    color: $color-grey2;
                    font-weight: 500;
                    padding: 8px 21px 6px 13px;
                }
            }
        }
    }

    // End:: Topbar

    .middle {
        &__container {
            height: 104px;

            .fsearch {
                &__area {
                    &--btn {
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        opacity: 0.4;
                    }
                }
            }
        }
    }

    // End: Middle

    .nav {
        color: $color-grey2;

        &__container {
            height: 54px;
        }

        &__categories {
            cursor: pointer;
            height: 42px;
            font-size: 0.875em;
            padding: 10px 16px;
            background-color: $color-grey2;
            color: $color-white;

            &--text {
                padding-left: 7px;
            }

            &--link {
                padding: 10px 15px;
                letter-spacing: .02em;
                cursor: pointer;
                font-weight: 500;
                font-size: 0.875em;

                &:hover {
                    background: hsla(0, 0%, 100%, .5);
                }
            }
        }
    }

    // End:: Nav

    .mobile {
        &__container {
            height: 54px;
        }

        &__logo {
            margin-left: 20px;
        }

        &__search {
            .form-control {
                height: 33px;
            }

            &--btn {
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }

        &__action {
            .badge {
                &__count {
                    background-color: $bg-white;
                    color: $color-grey;
                }
            }

            &--item {
                padding: 10px;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background: hsla(0, 0%, 100%, .5);
                }
            }
        }
    }

    // End:: Mobile
}
