.section-minicart {
    right: -25em;
    z-index: 100;
    transition: $transition;

    &.active {
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .minicart {
        overflow-x: hidden;
        overflow-y: auto;

        &__header {
            padding: 1.25em;
        }

        &__content {
            height: calc(100% - 13.75em);
            overflow: hidden auto;
            z-index: 30;

            &--image {
                max-width: 25%;
                flex: 1;

                img {
                    border-radius: 0.625em;
                }
            }

            &--items {
                width: 75%;
                flex: 1;
                padding: 0 0.625em;

                .title {
                    max-height: 3.4375em;
                }
            }
        }

        &__footer {
            bottom: 1.25em;

            &--action {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 0.625em;
            }
        }
    }
}