.section-modal {
    max-width: 50em;
    max-height: 90%;
    margin: 3.125em auto;
    z-index: 1000;
    overflow-y: auto;
    transform: scale(0);

    &.active {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }

    .modal {
        &__header {
            padding: 1em;
        }

        &__content {
            padding: 1.5625em;

            &--price {
                .price--old {
                    font-size: 1.125em;
                    opacity: .6;
                }

                .price--new {
                    font-size: 1.5625em;
                }
            }
        }
    }
}