.section-search {
    height: 5em;
    top: -5em;
    z-index: 100;
    transition: $transition;

    &.active {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    .search {
        &__form {
            margin: 15px 0px;
        }
    }
}
