.header {
    &__nav {
        &--link {
            letter-spacing: 0.05em;
            padding: 0.625em 1em;

            &:hover {
                color: $blue;

                &:after {
                    width: 100%;
                    background-color: $blue;
                }
            }

            &:after {
                content: "";
                width: 0;
                height: 0.0625em;
                display: block;
            }
        }
    }

    &__icons {
        &--link {
            padding: 0 0.5625em;
        }
    }
}

.sticky-header {
    z-index: 19;
    border-bottom: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}