body {
    font-size: 0.8125em;
    letter-spacing: 0.02em;
    line-height: 1.7;
    font-family: $font-family;
    color: #222222;
    font-weight: 400;
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    direction: ltr;
}

html {
    overflow: hidden;
    overflow-y: auto;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

img,
svg {
    vertical-align: middle;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
    outline: none;
    transition: all 0.5s ease-in-out;
}

img:not([src]) {
    visibility: hidden;
}

@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}

a,
a:after,
a:before {
    transition: all 0.3s ease-in-out;
}

a:hover,
a:active {
    color: $blue;
    text-decoration: none;
    outline: 0;
}

a:hover,
a:focus {
    outline: 0;
}

.text {
    &-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-truncate-2lines {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    &-line-through {
        text-decoration: line-through;
    }

    &-start {
        text-align: left;
    }

    &-end {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-black {
        color: $black;
    }

    &-grey {
        color: $grey;
    }

    &-white {
        color: $white;
    }

    &-red {
        color: $price-red;
    }
}

.fw {
    &-400 {
        font-weight: 400;
    }

    &-500 {
        font-weight: 500;
    }

    &-600 {
        font-weight: 600;
    }

    &-700 {
        font-weight: 700;
    }
}

.d {
    &-block {
        display: block;
    }

    &-flex {
        display: flex !important;
    }

    &-none {
        display: none;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.align-items-center {
    align-items: center;
}

.justify-content {
    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }

    &-center {
        justify-content: center;
    }

    &-between {
        justify-content: space-between;
    }
}

.position {
    &-absolute {
        position: absolute;
    }

    &-relative {
        position: relative;
    }

    &-fixed {
        position: fixed;
    }
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.bottom-0 {
    bottom: 0;
}

.border {
    &-radius-50 {
        border-radius: 50%;
    }

    &-radius-0 {
        border-radius: 0;
    }

    &-0 {
        border: 0;
    }
}

.bg {
    &-white {
        background-color: $white;
    }

    &-black {
        background-color: $black;
    }

    &-red {
        background-color: $red;
    }

    &-blue {
        background-color: $blue;
    }
}

.px-8 {
    padding: 0 0.5em;
}

.pr {
    &-40 {
        padding-right: 2.5em;
    }
}

.pb {
    &-16 {
        padding-bottom: 1em;
    }
}

.pl {
    &-16 {
        padding-left: 1em;
    }
}

.pt {
    &-16 {
        padding-top: 1em;
    }
}

.ml {
    &-0 {
        margin-left: 0;
    }
}

.mt {
    &-50 {
        margin-top: 3.125em;
    }

    &-100 {
        margin-top: 6.25em;
    }
}

.fs {
    &-16 {
        font-size: 1em;
    }

    &-22 {
        font-size: 1.375em;
    }
}

.border-bottom-grey {
    border-bottom: 1px solid #e8e8e8;
}

.opacity-0 {
    opacity: 0;
}

.visibility-hidden {
    visibility: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.transition {
    transition: $transition;
}

.grid {
    &--4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.25em;
    }

    &--5 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1.25em;
    }
}

.dropdown {
    box-shadow: 0 0 15px rgb(5 0 0 / 10%);
    width: 9.5em;
    z-index: 11;
    top: 3.75em;
    padding: 0.625em 1em;
    transition: $transition;

    &__link {
        padding: 0.1875em;

        &:hover {
            color: $blue;
        }
    }

    &.active {
        top: 2.5em;
        opacity: 1;
        visibility: visible;
    }
}

.section {
    &__header {
        &--title {
            font-size: 1.75em;
        }
    }
}

#site-scroll {
    line-height: 2.1875em;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.75em;
    right: 1.875em;
    bottom: 2.5em;
    z-index: 444;
    box-shadow: 0 0 1px #ddd;

    &:hover {
        background-color: $black;
        color: $white;
    }
}

.overplay {
    z-index: 20;
    height: 100vh;
    background-color: $black;
    transition: $transition;

    &.active {
        opacity: 0.5;
        visibility: visible;
    }
}
