* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    overflow: hidden;
    overflow-y: auto;
}

body {
    font-size: 0.8125em;
    letter-spacing: 0.02em;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
    color: $black2;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

[hidden] {
    display: none;
}

a {
    color: $black2;
    text-decoration: none;
    outline: none;
    transition: $transition;
}

a,
a:after,
a:before {
    transition: $transition;
}

a:hover,
a:active {
    color: $blue;
    text-decoration: none;
    outline: 0;
}

a:hover,
a:focus {
    outline: 0;
}

p {
    margin: 0 0 15px;
}

p:last-child {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border: 0;
    -ms-interpolation-mode: bicubic;
}


img,
svg {
    vertical-align: middle;
}

img:not([src]) {
    visibility: hidden;
}

@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}

svg:not(:root) {
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
hr {
    margin: 0;
    margin-bottom: 0.9375em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black2;
    margin: 0 0 0.625em;
    font-family: $font-family;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .02em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1875em;
}

h3 {
    font-size: 1.125em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9375em;
}

h6 {
    font-size: 0.875em;
}

.text {
    &-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-truncate-2lines {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    &-line-through {
        text-decoration: line-through;
    }

    &-center {
        text-align: center;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-capitalize {
        text-transform: capitalize;
    }

    &-white {
        color: $white;
    }

    &-grey {
        color: $grey;
    }

    &-red {
        color: $red;
    }

    &-black {
        color: $black;
    }
}

.d {
    &-block {
        display: block;
    }

    &-flex {
        display: flex;
    }

    &-none {
        display: none;
    }
}

.w-100 {
    width: 100%;
}

.w-400px {
    width: 25em;
}

.h-100 {
    height: 100%;
}

.fw {
    &-400 {
        font-weight: 400;
    }

    &-500 {
        font-weight: 500;
    }

    &-600 {
        font-weight: 600;
    }

    &-700 {
        font-weight: 700;
    }
}

.position {
    &-absolute {
        position: absolute;
    }

    &-relative {
        position: relative;
    }

    &-fixed {
        position: fixed;
    }
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.bottom-0 {
    bottom: 0;
}

.border {
    &-radius-50 {
        border-radius: 50%;
    }

    &-radius-0 {
        border-radius: 0;
    }

    &-0 {
        border: 0;
    }
}

.bg {
    &-white {
        background-color: $white;
    }

    &-black {
        background-color: $black;
    }

    &-blue {
        background-color: $blue;
    }

    &-grey2 {
        background-color: $grey2;
    }

    &-grey3 {
        background-color: $grey3;
    }
}

.mr {
    &-16 {
        margin-right: 1em;
    }
}

.p {
    &-20 {
        padding: 1.25em;
    }
}

.px {
    &-20 {
        padding: 0 1.25em;
    }

    &-8 {
        padding: 0 0.5em;
    }
}

.mb {
    &-16 {
        margin-bottom: 1em;
    }

    &-0 {
        margin-bottom: 0;
    }
}

.mt {
    &-16 {
        margin-top: 1em;
    }

    &-80 {
        margin-top: 5em;
    }
}

.pb {
    &-16 {
        padding-bottom: 1em;
    }
}

.py {
    &-80 {
        padding: 5em 0;
    }
}

.pt {
    &-16 {
        padding-top: 1em;
    }

    &-80 {
        padding-top: 5em;
    }
}

.fs {
    &-16 {
        font-size: 1em;
    }

    &-20 {
        font-size: 1.25em;
    }

    &-28 {
        font-size: 1.75em;
    }
}

.border-bottom-offcanvas {
    border-bottom: 1px solid #e8e8e8;
}

.opacity-0 {
    opacity: 0;
}

.visibility-hidden {
    visibility: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.transition {
    transition: $transition;
}

.overplay {
    z-index: 20;
    height: 100vh;
    background-color: $black2;
    transition: $transition;

    &.active {
        opacity: 0.5;
        visibility: visible;
    }
}

/* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #fff;
    background-color: #1eaedb;
    border-color: #1eaedb;
}

/* Forms
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33c3f0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label>.label-body {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: normal;
}

/* Tables
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

/* Misc
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1;
}

.dropdown {
    box-shadow: 0 0 15px rgb(5 0 0 / 10%);
    width: 9.5em;
    z-index: 11;
    top: 3.75em;
    padding: 0.625em 1em;
    transition: $transition;

    &__link {
        padding: 0.1875em;

        &:hover {
            color: $blue;
        }
    }

    &.active {
        top: 2.5em;
        opacity: 1;
        visibility: visible;
    }
}

#site-scroll {
    line-height: 2.1875em;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.75em;
    right: 1.875em;
    bottom: 2.5em;
    z-index: 444;
}

.section-heading {
    .line {
        .circle {
            width: 0.625em;
            height: 0.625em;
            background-color: transparent;
            border: 3px solid #270203;
            display: inline-block;

            .line-shape {
                height: 3px;
                top: 50%;
                width: 4.375em;
                margin-top: -1px;

                &.line-left {
                    left: -80px;
                }

                &.line-right {
                    right: -80px;
                }
            }
        }
    }
}