.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.btn {
    border-radius: 2px;
    transition: all .1s ease-in-out;
    font-size: 1rem;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    padding: 0.375rem 1.25rem;
    font-weight: 500;
}

.mt-3 {
    margin-top: 0.3em;
}

.mt-0 {
    margin-top: 0;
}

.pl-24 {
    padding-left: 1.5em;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

body {
    overflow-x: hidden;
    font-family: Roboto, "sans-serif";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    color: #3d464d;
    backface-visibility: hidden;
    overflow-y: scroll;
    text-align: left;
    direction: ltr;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $transition;
}

.d {
    &-block {
        display: block !important;
    }

    &-flex {
        display: flex !important;
    }

    &-none {
        display: none !important;
    }
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content {
    &-start {
        justify-content: flex-start !important;
    }

    &-end {
        justify-content: flex-end !important;
    }

    &-center {
        justify-content: center !important;
    }

    &-between {
        justify-content: space-between !important;
    }
}

.text {
    &-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    &-truncate-2-lines {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    &-line-through {
        text-decoration: line-through
    }

    &-start {
        text-align: left !important;
    }

    &-small {
        line-height: 1em;
        color: #999;
        font-size: 0.8125em;
    }

    &-end {
        text-align: right !important;
    }

    &-center {
        text-align: center !important;
    }

    &-uppercase {
        text-transform: uppercase !important;
    }

    &-capitalize {
        text-transform: capitalize !important;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.mb-0 {
    margin-bottom: 0;
}

.pt-3 {
    padding-top: 1.5em;
}

.position {
    &-absolute {
        position: absolute;
    }

    &-relative {
        position: relative;
    }

    &-fixed {
        position: fixed;
    }
}

.bg {
    &-white {
        background-color: $bg-white;
    }

    &-main {
        background-color: $bg-main;
    }
}

.fw {
    &-400 {
        font-weight: 400;
    }

    &-700 {
        font-weight: 700;
    }
}

.border {
    &-radius-50 {
        border-radius: 50%;
    }

    &-radius-0 {
        border-radius: 0;
    }
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.form-control {
    width: 100%;
    height: 42px;
    padding-left: 1em;
    border: 1px solid #ddd;
    color: $color-grey;
    border-radius: 5px;
    transition: $transition;
}

.form-control:focus {
    outline: none;
    border: 1px solid $bg-main;
    border-radius: 5px;
}

.form-control::placeholder {
    opacity: 0.7;
    color: #999;
    letter-spacing: .04em;
    font-size: 0.975em;
}

.fr {
    float: right;
}

.badge {
    position: relative;
    color: $color-grey;

    &__count {
        position: absolute;
        top: -12px;
        right: -8px;
        border-radius: 50%;
        background-color: $bg-main;
        color: $color-grey2;
        width: 18px;
        height: 18px;
        font-size: .7em;
        text-align: center;
        line-height: 18px;
    }
}

.overplay {
    position: fixed;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #3d464d;
    transition: $transition;

    &.active {
        opacity: .9;
        visibility: visible;
    }
}

.scrollbar {
    &::-webkit-scrollbar-track {
        background-color: $bg-grey;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $bg-main;
    }
}

@import 'components/devices/sm-device';
@import 'components/devices/md-device';
@import 'components/devices/lg-device';
@import 'components/devices/xl-device';
@import 'components/devices/xxl-device';
