// Font
$font-family: "Roboto Condensed", Arial, Tahoma, serif;

// Color
$white: #ffffff;
$blue: #0187b0;
$grey: #777777;
$grey2: #eeeeee;
$grey3: #fafafa;
$black: #000000;
$black2: #222222;
$red: #e95144;

// Animation
$transition: all 0.3s ease-in-out;
