// Font
$font-family: "Roboto Condensed", Arial, Tahoma, serif !important;

// Color
$white: #ffffff;
$blue: #0187b0;
$black: #000000;
$grey: #777777;

// Animation
$transition: all 0.3s ease-in-out;
