@import "./variables";

// Main
@import "./normalize";
@import "./general";

// Layouts
@import "./layouts/header";
@import "./layouts/main";
@import "./layouts/footer";

// Components
@import "./components/minicart";
@import "./components/menu";
@import "./components/search";
@import "./components/modal";